.container1{
    background-color: rgb(255, 255, 255);
    height:102vh;
}
.tasks{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 22px;
    text-align: center;
    border: 4px solid;
    width:302px;
    height:72vh;
    margin:12px 40px;   
}
.taskk{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}
h2{
    text-align: center;
    font-size: 29px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
b{
    font-size: 52px;
    color: white;
}

h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: rgb(0, 0, 0);
}
input{
    border-radius: 12px;
    width:14vw;
    height:5vh;
    background-color: rgb(255, 255, 255);
    margin:12px;
    text-align: center;
}
.headd{
    background-color: rgb(0, 0, 0);
    text-align: center;
    padding-top:22px;
}
#add1{
    width:7vw;
    height:5vh;
}
#completed_tasks{
background-color: rgb(137, 137, 137);
width:502px;
padding:0px 20px 0px 20px;
color: white;
box-shadow: 4px 4px white;
}
#Alltasks{
    padding:0px 10px 0px 10px;
background-color: rgb(137, 137, 137);
box-shadow: 2px 2px white;
}



html, body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 310px;
}

#inputField {
    width: 200px;
    height: 40px;
    border-width: 0;

    box-shadow: 2px 2px;
    outline: none;
    font-size: 20px;
    background-color: rgb(255, 255, 255);
    color: black;
    vertical-align: middle;
}

#addToDo {
    height: 37px;
    width: 34px;
    border-radius: 10px;
    background-color: red;
    color: white;
    box-shadow: 1px 1px;
    border: 2px solid rgb(248, 244, 244);
    vertical-align: middle;
    font-size: 20px;
}

.paragraph-styling {
    margin: 0;
    cursor: pointer;
    font-size: 25px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border:2px solid rgb(0, 0, 0);
    box-shadow: 1px 1px;
    margin:2px 0px 6px 30px;
    width:230px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.to-dos {
    margin-top: 25px;
}
